* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: radial-gradient(circle at top, #0f172a, #05080f 70%);
    color: #e6f7ff;
    padding: 40px;
    min-height: 100vh;
    font-style: italic;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 45px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #7dd3fc;
    text-shadow: 0 0 8px rgba(0, 212, 255, 0.4);
}

.section {
    background: rgba(15, 25, 45, 0.75);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 40px;
    border: 1px solid rgba(0, 212, 255, 0.2);
    backdrop-filter: blur(15px);

    box-shadow:
        0 0 25px rgba(0, 212, 255, 0.15),
        0 0 60px rgba(0, 212, 255, 0.05);

    transition: all 0.4s ease;
}

.section:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 35px rgba(0, 212, 255, 0.4),
        0 0 80px rgba(0, 212, 255, 0.2);
}

.section h2 {
    margin-bottom: 20px;
    color: #00e5ff;
}

.subheading {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #7dd3fc;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

input[type="text"],
input[type="file"] {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #00d4ff;
    background: #111827;
    color: #e6f7ff;
    outline: none;
}

input[type="text"]:focus {
    border-color: #00f0ff;
    box-shadow: 0 0 12px #00f0ff;
}

button {
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background: linear-gradient(45deg, #00d4ff, #0099ff);
    color: #000;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 212, 255, 0.6);
}

button:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 20px #00d4ff,
        0 0 40px #0099ff;
}

.clear-btn {
    background: transparent;
    color: #7dd3fc;
    border: 1px solid rgba(125, 211, 252, 0.4);
    box-shadow: none;
}

.clear-btn:hover {
    background: rgba(125, 211, 252, 0.1);
    box-shadow: 0 0 12px rgba(125, 211, 252, 0.6);
}

.doc-item {
    padding: 10px 14px;
    margin-bottom: 8px;
    border-radius: 10px;
    background: rgba(0, 212, 255, 0.1);
    transition: 0.3s ease;
}

.doc-item:hover {
    background: rgba(0, 212, 255, 0.25);
    box-shadow: 0 0 12px #00d4ff;
}

#answerBox,
#sourcesBox,
#statusBox {
    margin-top: 15px;
    padding: 18px;
    border-radius: 14px;
    background: rgba(0, 212, 255, 0.08);
    border: 1px solid rgba(0, 212, 255, 0.3);
    box-shadow: inset 0 0 15px rgba(0, 212, 255, 0.3);
    white-space: pre-wrap;
}
